/**
 * Body CSS
 */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

header a {
    color: white;
}

header a:hover {
    color: white;
}

.mui-appbar {
    background-color: #1A237E;
}

button {
    width: 70px;
}


/**
 * Content CSS
 */

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content-wrapper {
    flex: 1 0 auto;
    text-align: center;
    background: #EEEEEE;
    padding-top: 150px;
}


/**
 * Footer CSS
 */

footer {
    flex: 0 0 auto;
    height: 50px;
    background-color: #EEE;
    border-top: 1px solid #E0E0E0;
    padding-top: 30px;
}


/**
* Other
*/

.float-left {
    float: left;
}

.margin-img-condition {
    margin: 10px 10px 20px 20px;
}

.temperature-block {
    height: 60%;
    white-space: nowrap;
    font-size: 0;
}

.text-condition {
    height: 40%;
}

.description {
    height: 200px;
    padding: 0px 20px 0px 20px;
}

#weather-wrapper {
    display: inline-block;
    text-align: left;
    background: #FAFAFA;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(122, 122, 122, 0.5);
}

#weather-wrapper:after {
    content: "";
    display: block;
    clear: both;
}