/**
 * Body CSS
 */

html,
body {
    height: 100%;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

header a {
    color: white;
}

header a:hover {
    color: white;
}

.mui-appbar {
    background-color: #1A237E;
}


/**
 * Content CSS
 */

#content-wrapper {
    min-height: 100%;
    /* sticky footer */
    padding-top: 150px;
    margin-bottom: -100px;
    padding-bottom: 100px;
    text-align: center;
    background: #EEEEEE;
}


/**
 * Footer CSS
 */

footer {
    height: 100px;
    background-color: #EEE;
    border-top: 1px solid #E0E0E0;
    padding-top: 35px;
}


/**
* Other
*/

.float-left {
    float: left;
}

.margin-img-condition {
    margin: 10px 10px 20px 20px;
}

.temperature-block {
    height: 60%;
    white-space: nowrap;
}

.text-condition {
    height: 40%;
}

.description {
    height: 200px;
    padding: 0px 20px 0px 20px;
}

.wrapper {
    display: inline-block;
    text-align: left;
    background: #FAFAFA;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(122, 122, 122, 0.5);
}

.wrapper:after {
    content: "";
    display: block;
    clear: both;
}